/*Nav nar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}


.Header {
  border: 1px solid red;
  padding: 15px;
}

.Meny {
  width: 25%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.Main {
  width: 75%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}
