nav{
	background-color: grey;
	overflow:hidden;
	height: 15vh;
	width: 100vw;
	
}

li a {
  display: block;
  color: #F5E6BF;
  padding: 1vh 10vw;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

li {
	float: left;
	display: inline;
	text-align: center;
	font-size: 3vh;
	color: red;
}

p {
	font-size: 25px;
}



/*Cssen för "index" sidan*/
.Index{
	text-align: center;
	font-size: 3vw;
	background-image: url("Schack.jpg");
}
.box {
  width: 20vw;
  border: 2vh solid black;
  padding: 10vh;
  margin: auto;
  background-color:#F7DAA5;
  
}

/*Cssen för "Hur Man Spelar" sidan*/
.Lokal {
	background-image:url("HurManSpelar.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat
}
.Alternativ1 {
  width: 20vw;
  border: 2vh solid black;
  padding: 10vh;
  background-color:#F7DAA5;
  float: left;
  margin-left: 7vw;
  margin-top: 20vh;
  display: block;
  text-align: center;
  font-size: 3vw;
  color: black
}
  .Alternativ2 {
  width: 20vw;
  border: 2vh solid black;
  padding: 10vh;
  background-color:#F7DAA5;
   float: right;
  margin-right: 7vw;
  margin-top: 20vh;
  text-align: center;
  font-size: 3vw;
  color: black
  }